
.wrapper{
    margin: 4rem auto;
    width: 60%;
    
}
.board{
    width: 100%;
    margin: 0 auto;
    
    background-color: rgb(62, 74, 233);
    border-radius: 19px;
    color: #fff;
    padding: 20px;
    position: relative;
}
.board h1{
    margin: 0;
    font-size: 3rem;
}
.board h2{
    margin: 0;
}
.board img{
    position: absolute;
    right: 4rem;
    top: 2rem;
}
.postblock{
    width: 47.88%;
    height: 250px;
    background-color: rgb(241, 43, 43);
    margin: 10px auto;
    border-radius: 19px;
    color: #fff;
    padding: 40px;
}
.postblock h2{
    font-size: 30px;
    margin: 0;
  
}
.postblock p{
    font-size: 20px;
    margin: 0;
}
.postWrapper{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    background-color: black;
    height: 200px;
    padding: 20px;
    text-align: center;
    color: #fff;
}
.footer h3{
    font-size: 30px;
    margin: 0;
}
.footer p{
    margin: 0;
    font-size: 20px;
    font-weight: 300;
}
@media screen and (max-width:1910px) {
    .postblock{
        width: 100%;
    }
    
    
}
@media screen and (max-width:600px){
    .wrapper{
        width: 80%;
    } 
    .postblock{
        height: 150px;
    }   
}
