@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
  html{
    @apply bg-gray-100;
  }
  li{
    @apply  font-bold  hover:bg-white sm:hover:bg-gray-300 rounded-3xl text-xl  cursor-pointer mb-4 list-disc;
  }
  ul{
    @apply p-4
  }
  .navBtn li{
    @apply pl-6 p-3 list-none
  }
  li i{
    @apply  w-6 h-6 bg-cover inline-block relative top-1 mr-2;
  }
  .icon{
    @apply  w-6 h-6 bg-cover inline-block relative top-1 mr-2;
  }
  h1{
    @apply text-5xl font-bold m-3
  }
  h2{
    @apply text-3xl font-bold m-3
  }
  h3{
    @apply text-2xl font-bold m-3
  }
  h4{
    @apply text-xl font-bold m-3
  }
  p{
    @apply p-4
  }
  pre{
    @apply mb-6
  }
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 16px;
}
/*TOGGLE BTN*/
:root{
  --button-width:60px;
  --button-height:30px;
  --toggle-diameter:20px;
  --button-toggle-offset:calc((var(--button-height) - var(--toggle-diameter))/2);
  --toggle-shadow-offset:10px;
  --toggle-wider:40px;
  --color-grey:#E9E9E9;
  --color-dark-grey:#39393D;
  --color-green:#30D158;
}
input[type='checkbox']:checked+span{
  background-color: var(--color-dark-grey);
}
input[type='checkbox']:checked+span::after{
  transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
}
input[type='checkbox']{
  display: none;
}
input[type='checkbox']:active+span::after{
  width: var(--toggle-wider);
}
input[type='checkbox']:checked:active+span::after{
  transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}
span.toggle{
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-grey);
  border-radius: calc(var(--button-height)/2);
  position: relative;
  transition: .3s all ease-in-out;
}
span.toggle::after{
  content: '';
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background: #fff;
  border-radius: calc(var(--toggle-diameter)/2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0  calc(var(--toggle-shadow-offset)*4) rgba(0, 0, 0, .1);
  transition: .3s all ease-in-out;
}
/*TOGGLE BTN*/
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color:transparent;
 
}

a {
  
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
blockquote{
  border-left: 5px solid lightgray;
  padding-left: 10px;
}
code{
  background-color: rgba(235, 235, 235, 0.932);
  border-radius: 5px;
  padding: 4px;
}

pre code{
  background-color: transparent;
  display: block;
  overflow: auto;
}
code::-webkit-scrollbar{
  height: 6px;
}
code::-webkit-scrollbar-thumb{
  background-color: #fff;
  border-radius: 10px;
}
pre{
  border: 1px solid rgb(41, 45, 62);
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(41, 45, 62);
  color: #fff;

}
table{
  display: block;
  width: 100%;
  overflow: auto;
}
.nextjsColor{
  color: #0070f3 !important;
}