html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a {
  color: rgb(255, 70, 45);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
blockquote{
  border-left: 5px solid lightgray;
  padding-left: 10px;
}
code{
  background-color: rgba(235, 235, 235, 0.932);
  border-radius: 5px;
  padding: 4px;
}

pre code{
  background-color: transparent;
  display: block;
  overflow: auto;
}
code::-webkit-scrollbar{
  height: 6px;
}
code::-webkit-scrollbar-thumb{
  background-color: #fff;
  border-radius: 10px;
}
pre{
  border: 1px solid rgb(41, 45, 62);
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(41, 45, 62);
  color: #fff;

}
table{
  display: block;
  width: 100%;
  overflow: auto;
}
.nextjsColor{
  color: #0070f3 !important;
}